@font-face {
    font-family: 'alien_regular';
    src: url('../fonts/aliendude-webfont.woff2') format('woff2'),
       url('../fonts/aliendude-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --picture-size: 5em;
    --bg-dark-color: whitesmoke;
}
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/** DEMO : display: grid **/
.grid-container{
    display: grid;
    grid-template-rows: 10% 90%;
}
.grid-page {
    display: grid;
    grid-template-columns: 30% auto;
}

/** DEMO : display: flex **/
.flex-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-direction: column;
}


/** Styling the Page  **/
.hide-sm {
    display: none;
}

#students article {
    min-width: 100px;
    text-align: center;
    border: 1px solid var(--bg-dark-color);
    margin: 0.5em;
}
#students article:hover {
    background-color: var(--bg-dark-color);
    cursor: pointer;
}
#students .label {
    font-size: small;
}
.font-picture {
    font-size: var(--picture-size);
}
.alien {
    font-family: 'alien_regular';
}
.bg-dark {
    background-color: var(--bg-dark-color);
}


/** 
    We should never really work on the html element directly. Except to clean it. 
    If so, then clearly implemented in top of the page.
    But this website is only for demo. And... it's late.
**/
header{
    padding: 2em 0;
    background-color: var(--bg-dark-color);
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
h3 {
    font-style: italic;
}
aside{
    padding: 1em;
}
aside img {
    max-height: 64px;
}

/** DEMO : CSS is responsive. Have you ever heard about mobile first ?**/
@media only screen and (min-width: 640px) {
    h2 {
        writing-mode: initial;
    }
    #students article {
        min-width: 250px;
    }
    .hide-sm {
        display: initial;
    }
}